extends layouts/main-layout
block styles
    link(rel="stylesheet", href="/css/product.css")
block content
        main
            if (names.length > 0)
                each name in names
                    ul
                        li #{name.username}

            else
                h1 No names are entered