doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        title #{pageTitle}
        link(rel='stylesheet' href='/css/main.css')
        link(rel='stylesheet' href='/css/product.css')
    body
        main
            if (names.length > 0)
                .grid
                    each name in names
                        article.card.product-item
                            ul.card__header
                                li.product__title #{name.username}

            else
                h1 No names are entered